body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
}
h1{
    text-align: center;
    color: #333;
}

.container {
  background: #fff;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.container h2 {
    text-align: center;
    color: #555;
}

input, textarea {
  width: 95%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 120px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addPost {
  width: 100%;
  background: #ccc;
  color: #fff;
}

.post {
  background: #fafafa;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
} 

.post img {
  width: 500px;
  max-width: 100%;
  margin: 10px 0;
  border-radius: 4px;
}

.posts{
    background-color: #fff;
    text-align: center;
    width: 40%;
    margin: 50px auto;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.actions {
  margin-top: 10px;
}

.edit-btn {
  background: #0d6efd;
  color: #fff;
}

.delete-btn {
  background: #dc3545;
  color: #fff;
  margin-left: 5px;
}
