body{
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.language-container{
    width: 700px;
    height: 500px;
    background-color: #fff;
    margin: 50px auto;
    padding: 20px;
 border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
  h1 {
      text-align: center;
    }

select, textarea {
    flex: 1;
      width: 100%;
      margin-top: 10px;
      padding: 8px;
      font-size: 14px;
    }
    textarea{
        height: 100px;
    }
    button{
        color: #fff;
        flex: 1;
        width: 100%;
        background-color: green;
        border: none;
        border-radius: 5px;
        padding: 10px;
    }