*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
  

}
.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #333;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
   
}
.title{
    font-size: 1.5rem;
    line-height: 60px;
}
.navbar-links{
    height: 100%;
}
.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar-links li{
    padding: 0 15px;
}
.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    line-height: 60px;
    display: block;
}
.navbar-links a:hover {
    background-color: #444;
}
/* Toggle Button */
.toggle-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}
.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
 .navbar-links #home{
    width: 500px;
    height: 300px;
    background-color: red;
}
#home{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: red;
}
#home h1{
    color: white;
    font-size: 3rem;
}
#about{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
#about h1{
    color: white;
    font-size: 3rem;
}
#services{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: green;
}
#services h1{
    color: white;
    font-size: 3rem;
}
#portfolio{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: orange;
}
#portfolio h1{
    color: white;
    font-size: 3rem;
}
#blog{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
#blog h1{
    color: black;
    font-size: 3rem;
}
#career{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: pink;
}
#career h1{
    color: white;
    font-size: 3rem;
}

#contact{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: purple;
}
#contact h1{
    color: white;
    font-size: 3rem;
}
/* Responsive Design */
@media (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-btn {
        display: flex;
    }
    .navbar-links{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links a {
        padding: 10px;
        line-height: 15px;
    }
    .navbar.activate .navbar-links{
        max-height: 300px;
        opacity: 1;
        transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
    }
    .navbar.activate .toggle-btn .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar.activate .toggle-btn .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar.activate .toggle-btn .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }   
    

}
